experiments/**
!experiments/**/*.py
!experimtens/**/*.yaml

benchmarks_hits/**
!benchmarks_hits/**/*.py
!benchmarks_hits/**/*.yaml

validator/example/

raxtax/

.conda_venv
.DS_Store

.log

# Ignore all HDF5 files
*.h5

__pycache__/
