# experiment/benchmark data
experiments/**
!experiments/**/*.py
!experiments/**/*.yaml

benchmarks_hits/**
!benchmarks_hits/**/*.py
!benchmarks_hits/**/*.yaml

benchmarks_missing/**

validator/example/

# Environments
.conda_venv

# MacOS
.DS_Store

# Pycharm
.idea/

# pytest
.pytest_cache/

# Python
__pycache__/
*.pyc

*.log
*.h5
*.fasta
*.phy
*.treefile

#old rust libraries
raxtax/
